<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div>
    <div class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="#">Строительный калькулятор</a>
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1 style="font-size: 30px">Клиент:</h1>
                    <h5 style="font-size: 16px" class="text-decoration-underline">Тестовый Тест Тестович</h5>
                    <h5 style="font-size: 16px" class="text-decoration-underline">г. Ульяновск, ул. Тестовая, д.35-45</h5>
                    <div class=phone>тел: <a href="tel:+74951234567"> +7 (495) 123-45-67</a></div>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <div class="form-inline mr-auto">
                        <div class="form-group">
                        </div>
                    </div>
                    <span class="navbar-text">
                            Имя Фамилия: должность
                    </span>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="col-12 col-lg-6 col-xl-5" style="margin-left: 420px">
                <span class="navbar-text" style="font-size: 40px;color: white">
                    Карточка клиента
                </span>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <button class="btn btn-light btn-lg action-button" type="button">Создать Расчет</button>
                </div>
            </div>
            <br>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>