<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/d5efc829a1.js" crossorigin="anonymous"></script>
</head>

<body>
<div>
    <div class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="#">Строительный калькулятор</a>
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1 style="font-size: 30px">Клиент:</h1>
                    <h5 style="font-size: 16px" class="text-decoration-underline">Тестовый Тест Тестович</h5>
                    <h5 style="font-size: 16px" class="text-decoration-underline">г. Ульяновск, ул. Тестовая, д.35-45</h5>
                    <div class=phone>тел: <a href="tel:+74951234567"> +7 (495) 123-45-67</a></div>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <div class="form-inline mr-auto">
                        <div class="form-group">
                        </div>
                    </div>
                    <span class="navbar-text">
                            Имя Фамилия: должность
                    </span>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="col-12 col-lg-6 col-xl-5" style="margin-left: 420px">
                <span class="navbar-text" style="font-size: 40px;color: white">
                    Карточка клиента
                </span>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <button class="btn btn-light btn-lg action-button" type="button">Создать Расчет</button>
                </div>
            </div>
            <br>
            <div class="container" style="background-color: #FFEEDA;width: 100%">
                <div class="col-lg-8 col-md-10 ml-auto mr-auto" style="width: 100%">
                    <h4><small>Simple With Actions</small></h4>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm" style="background-color: #ffAD4B">
                                        <span class="glyphicon glyphicon-remove-circle"></span> Расчет №1
                                    </a>
                                </td>
                                <td>02.04.2023</td>
                                <td>Актуален</td>
                                <td class="text-center">г. Ульяновск, ул. Тестовая, д.35-45</td>
                                <td class="text-right"></td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
    $('body').bootstrapMaterialDesign();
    $('[data-toggle="tooltip"], [rel="tooltip"]').tooltip();
});</script>
</body>
</html>