<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/modalCss.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/SceletonCss.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!-- Подключение библиотеки jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/d5efc829a1.js" crossorigin="anonymous"></script>
</head>

<body>
<div>
    <div class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="#">Строительный калькулятор</a>
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1 style="font-size: 25px">Клиент:</h1>
                    <div class="phone">
                        <a href="/editClient" style="font-size: 16px" class="text-decoration-underline">
                            Тестовый Тест Тестович
                            <br/>
                            г. Ульяновск, ул. Тестовая, д.35-45
                        </a>
                    </div>
                    <div class="phone">тел: <a th:href="'tel:' + ${customer_phone}">8-900-000-00-00</a></div>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <div class="form-inline mr-auto">
                        <div class="form-group">
                        </div>
                    </div>
                    <span class="navbar-text">
                            <p>Тестовый Тест Тестович:менеджер</p>
                    </span>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="col-12 col-lg-6 col-xl-5" style="margin-left: 570px">
                <span class="navbar-text" style="font-size: 40px;color: white">
                    Каркас
                </span>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1" style="margin-left: 500px">
                    <button class="btn btn-light btn-lg action-button pull-right" type="button" data-toggle="modal" data-target="#exampleModalPopovers">Очистить Расчет</button>
                </div>
            </div>
            <br>
            <div class="limiter">
                <div class="Container-skeleton">
                    <form class="card-body cardbody-color p-lg-4 " th:action="@{/framePage}" method="POST">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div th:object="${calculationInfo}">
                            <div class="row mb-4">
                                <div class="col-sm-9 p-3">
                                    <div class="form-outline">
                                        <input type="text" name="adress" th:field="*{adress}" class="form-control Input_adress" placeholder="Добавить адресс объекта строительства" minlength="20"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-outline">
                                        <button type="submit" class="btn btn-primary btn-block mb-4 modal-btn" style="margin-top: 16px">Сохранить</button>
                                    </div>
                                </div>
                            </div>

                            <div class="container" style="width: 75%;margin-left: 2px">
                                <p class="fw-weight-bold" style="font-weight:600; ">Исходные данные</p>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Количество этажей</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" th:field="*{amountFloor}" class="form-control Input_adress" maxlength="1"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:object="${frameForm}">
                            <div class="container" style="width: 75%;margin-left: 2px">
                                <p class="fw-weight-bold" style="font-weight:600; ">1 этаж</p>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Высота этажа</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control Input_adress" th:field="*{height}" placeholder="м/см/мм"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Периметр внешних стен</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control Input_adress" th:field="*{perimeter_of_external_walls}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Площадь основания</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control Input_adress" th:field="*{base_area}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Толщина внешних стен</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="external_wall_thickness" th:field="*{external_wall_thickness}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" onclick="document.getElementById('external_wall_thickness').value='100'">100 мм</a></li>
                                                <li><a class="dropdown-item" onclick="document.getElementById('external_wall_thickness').value='200'">200 мм</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Длина внутренних стен</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control Input_adress" th:field="*{internal_wall_length}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Толщина внутренних стен</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="inputinnerwall" th:field="*{internal_wall_thickness}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" onclick="document.getElementById('inputinnerwall').value='100'">100 мм</a></li>
                                                <li><a class="dropdown-item" onclick="document.getElementById('inputinnerwall').value='200'">200 мм</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" style="width: 75%;margin-left: 2px">
                                <p class="fw-weight-bold" style="font-weight:600; ">Обшивки внешних стен</p>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">ОСБ</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="OSB_external_wall" th:field="*{OSB_external_wall}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <div th:each ="Osb : ${OsbList}">
                                                    <li><a class="dropdown-item" th:text="${Osb.name}" th:attr="onclick=|myFunk('${Osb.getName()}', 'OSB_external_wall')|">test</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Парогидроизоляция</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="steamWaterproofingExternal" th:field="*{steam_waterproofing_external}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <div th:each ="Waterproofing : ${Waterproofings}">
                                                    <li><a class="dropdown-item" th:text="${Waterproofing.name}" th:attr="onclick=|myFunk('${Waterproofing.getName()}', 'steamWaterproofingExternal')|">test</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Ветрозащита</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="windscreenExternalWall" th:field="*{windscreen_external_wall}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <div th:each ="Windscreen : ${Windscreens}">
                                                    <li><a class="dropdown-item" th:text="${Windscreen.name}" th:attr="onclick=|myFunk('${Windscreen.getName()}', 'windscreenExternalWall')|">test</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Утеплитель</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="insulation_external_wall" th:field="*{insulation_external_wall}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <div th:each ="Insulation : ${Insulations}">
                                                    <li><a class="dropdown-item" th:text="${Insulation.name}" th:attr="onclick=|myFunk('${Insulation.getName()}', 'insulation_external_wall')|">test</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-secondary btn-circle btn-circle-sm m-1 pull-right" id="InteriorWallCoverings_btn"><i class="fa fa-plus" id="InteriorWallCoverings_btn_ico"></i></button>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Добавить расчет обшивки внутренних стен</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container" style="width: 75%;margin-left: 2px" id="InteriorWallCoverings_div">
                                <p class="fw-weight-bold" style="font-weight:600; ">Обшивки внутренних стен</p>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">ОСБ</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="OSB_internal_wal" th:field="*{OSB_internal_wal}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <div th:each ="Osb : ${OsbList}">
                                                    <li><a class="dropdown-item" th:text="${Osb.name}" th:attr="onclick=|myFunk('${Osb.getName()}', 'OSB_internal_wal')|">test</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" style="width: 75%;margin-left: 2px">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-secondary btn-circle btn-circle-sm m-1 pull-right" id="WindowOpenings_btn"><i class="fa fa-plus" id="WindowOpenings_btn_ico"></i></button>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Учесть двери и окна</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container" style="width: 75%;margin-left: 2px" id="WindowOpenings_div">
                                <p class="fw-weight-bold" style="font-weight:400; ">Оконные проемы</p>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="win_height">Высота</label>
                                            <input type="number" id="win_height" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="win_width">Ширина</label>
                                            <input type="number" id="win_width" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="win_count">Количество</label>
                                            <input type="number" id="win_count" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-9">
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn m-1 pull-right btn-secondary btn-sm" id="rmWindowOpenings_btn"><i class="fa fa-minus"></i></button>
                                        <button type="button" class="btn m-1 pull-right btn-secondary btn-sm" id="addWindowOpenings_btn"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="container" style="width: 100%;height: 100%;" id="WindowOpenings_div_add">

                                </div>
                                <p class="fw-weight-bold" style="font-weight:400; ">Дверные проемы внешние</p>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="door_height">Высота</label>
                                            <input type="number" id="door_height" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="door_width">Ширина</label>
                                            <input type="number" id="door_width" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="door_count">Количество</label>
                                            <input type="number" id="door_count" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-9">
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn m-1 pull-right btn-secondary btn-sm" id="rmWindowOpenings_btn1"><i class="fa fa-minus"></i></button>
                                        <button type="button" class="btn m-1 pull-right btn-secondary btn-sm" id="addWindowOpenings_btn1"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="container" style="width: 100%;height: 100%;" id="WindowOpenings_div_add1">

                                </div>
                                <p class="fw-weight-bold" style="font-weight:400; ">Дверные проемы внутренние</p>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="door_height_i">Высота</label>
                                            <input type="number" id="door_height_i" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="door_width_i">Ширина</label>
                                            <input type="number" id="door_width_i" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="door_count_i">Количество</label>
                                            <input type="number" id="door_count_i" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-9">
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn m-1 pull-right btn-secondary btn-sm" id="rmWindowOpenings_btn2"><i class="fa fa-minus"></i></button>
                                        <button type="button" class="btn m-1 pull-right btn-secondary btn-sm" id="addWindowOpenings_btn2"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="container" style="width: 100%;height: 100%;" id="WindowOpenings_div_add2">

                                </div>
                            </div>
                            <div class="container" style="width: 75%;margin-left: 2px">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-secondary btn-circle btn-circle-sm m-1 pull-right" id="CalculationOfOverlaps_btn"><i class="fa fa-plus" id="CalculationOfOverlaps_btn_ico"></i></button>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Добавить расчет перекрытий</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container" style="width: 75%;margin-left: 2px" id="CalculationOfOverlaps_div" >
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Толщина перекрытия</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="overlap_thickness" th:field="*{overlap_thickness}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" onclick="document.getElementById('overlap_thickness').value='100'">100 мм</a></li>
                                                <li><a class="dropdown-item" onclick="document.getElementById('overlap_thickness').value='200'">200 мм</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">ОСБ</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="OSB_thickness" th:field="*{OSB_thickness}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <div th:each ="Osb : ${OsbList}">
                                                    <li><a class="dropdown-item" th:text="${Osb.name}" th:attr="onclick=|myFunk('${Osb.getName()}', 'OSB_thickness')|">test</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Парогидроизоляция</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="steam_waterproofing_thickness" th:field="*{steam_waterproofing_thickness}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <div th:each ="Waterproofing : ${Waterproofings}">
                                                    <li><a class="dropdown-item" th:text="${Waterproofing.name}" th:attr="onclick=|myFunk('${Waterproofing.getName()}', 'steam_waterproofing_thickness')|">test</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Ветрозащита</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="windscreen_thickness" th:field="*{windscreen_thickness}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <div th:each ="Windscreen : ${Windscreens}">
                                                    <li><a class="dropdown-item" th:text="${Windscreen.name}" th:attr="onclick=|myFunk('${Windscreen.getName()}', 'windscreen_thickness')|">test</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 text-center">
                                        <p class="fw-weight-bold" style="font-weight:400; ">Утеплитель</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="insulation__thickness" th:field="*{insulation__thickness}" aria-label="Ввод текста с помощью раскрывающейся кнопки">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <div th:each ="Insulation : ${Insulations}">
                                                    <li><a class="dropdown-item" th:text="${Insulation.name}" th:attr="onclick=|myFunk('${Insulation.getName()}', 'insulation__thickness')|">test</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Text input -->
                        <button type="submit" name="calculateButton" th:value="${customerId}" class="btn btn-primary btn-block mb-4 modal-btn">Расчитать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunk(text, id){
        document.getElementById(id).value=text;
    }
</script>
<script>
    let i =0;
    let j =0;
    let g =0;
    document.querySelector('#InteriorWallCoverings_btn').addEventListener('click',function () {
        const InteriorWallCoverings_div = document.querySelector('#InteriorWallCoverings_div').classList;
        const InteriorWallCoverings_btn_ico = document.querySelector('#InteriorWallCoverings_btn_ico').classList;
        InteriorWallCoverings_btn_ico.toggle('fa-plus');
        InteriorWallCoverings_btn_ico.toggle('fa-minus');
        InteriorWallCoverings_div.toggle('hidden');
    });
    document.querySelector('#WindowOpenings_btn').addEventListener('click',function () {
        const InteriorWallCoverings_div = document.querySelector('#WindowOpenings_div').classList;
        const InteriorWallCoverings_btn_ico = document.querySelector('#WindowOpenings_btn_ico').classList;
        InteriorWallCoverings_btn_ico.toggle('fa-plus');
        InteriorWallCoverings_btn_ico.toggle('fa-minus');
        InteriorWallCoverings_div.toggle('hidden');
    });
    document.querySelector('#CalculationOfOverlaps_btn').addEventListener('click',function () {
        const InteriorWallCoverings_div = document.querySelector('#CalculationOfOverlaps_div').classList;
        const InteriorWallCoverings_btn_ico = document.querySelector('#CalculationOfOverlaps_btn_ico').classList;
        InteriorWallCoverings_btn_ico.toggle('fa-plus');
        InteriorWallCoverings_btn_ico.toggle('fa-minus');
        InteriorWallCoverings_div.toggle('hidden');
    });
    document.querySelector('#addWindowOpenings_btn').addEventListener('click',function () {
        i++;
        const html='<div class="row mb-4" id="DelOrAddWindowOpenings'+i+'">\n' +
            '                                    <div class="col">\n' +
            '                                        <div class="form-outline">\n' +
            '                                            <label class="form-label" for="win_height'+i+'">Высота</label>\n' +
            '                                            <input type="number" id="win_height'+i+'" class="form-control"/>\n' +
            '                                        </div>\n' +
            '                                    </div>\n' +
            '                                    <div class="col">\n' +
            '                                        <div class="form-outline">\n' +
            '                                            <label class="form-label" for="win_width'+i+'">Ширина</label>\n' +
            '                                            <input type="number" id="win_width'+i+'" class="form-control"/>\n' +
            '                                        </div>\n' +
            '                                    </div>\n' +
            '                                    <div class="col">\n' +
            '                                        <div class="form-outline">\n' +
            '                                            <label class="form-label" for="win_count'+i+'">Количество</label>\n' +
            '                                            <input type="number" id="win_count'+i+'" class="form-control"/>\n' +
            '                                        </div>\n' +
            '                                    </div>\n' +
            '                                </div>';
        document.getElementById("rmWindowOpenings_btn").style.display = "block";
        $('#WindowOpenings_div_add').append(html);
    });
    document.querySelector('#rmWindowOpenings_btn').addEventListener('click',function () {
        const DelOrAddWindowOpenings = "#DelOrAddWindowOpenings" + i.toString();
        i--;
        $(DelOrAddWindowOpenings).remove();
        if(i===0)
        {
            document.getElementById("rmWindowOpenings_btn").style.display = "none";
        }
    });


    document.querySelector('#addWindowOpenings_btn1').addEventListener('click',function () {
        j++;
        const html='<div class="row mb-4" id="DelOrAddDoorOpenings'+j+'">\n' +
            '                                <div class="col">\n' +
            '                                    <div class="form-outline">\n' +
            '                                        <label class="form-label" for="door_height'+j+'">Высота</label>\n' +
            '                                        <input type="number" id="door_height'+j+'" class="form-control"/>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                                <div class="col">\n' +
            '                                    <div class="form-outline">\n' +
            '                                        <label class="form-label" for="door_width'+j+'">Ширина</label>\n' +
            '                                        <input type="number" id="door_width'+j+'" class="form-control"/>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                                <div class="col">\n' +
            '                                    <div class="form-outline">\n' +
            '                                        <label class="form-label" for="door_count'+j+'">Количество</label>\n' +
            '                                        <input type="number" id="door_count'+j+'" class="form-control"/>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                            </div>';
        document.getElementById("rmWindowOpenings_btn1").style.display = "block";
        $('#WindowOpenings_div_add1').append(html);
    });
    document.querySelector('#rmWindowOpenings_btn1').addEventListener('click',function () {
        const DelOrAddWindowOpenings = "#DelOrAddDoorOpenings" + j.toString();
        j--;
        $(DelOrAddWindowOpenings).remove();
        if(j===0)
        {
            document.getElementById("rmWindowOpenings_btn1").style.display = "none";
        }
    });

    document.querySelector('#addWindowOpenings_btn2').addEventListener('click',function () {
        g++;
        const html=' <div class="row mb-4" id="DelOrAddDoorOpenings_i'+g+'">\n' +
            '                                <div class="col">\n' +
            '                                    <div class="form-outline">\n' +
            '                                        <label class="form-label" for="door_height_i'+g+'">Высота</label>\n' +
            '                                        <input type="number" id="door_height_i'+g+'" class="form-control"/>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                                <div class="col">\n' +
            '                                    <div class="form-outline">\n' +
            '                                        <label class="form-label" for="door_width_i'+g+'">Ширина</label>\n' +
            '                                        <input type="number" id="door_width_i'+g+'" class="form-control"/>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                                <div class="col">\n' +
            '                                    <div class="form-outline">\n' +
            '                                        <label class="form-label" for="door_count_i'+g+'">Количество</label>\n' +
            '                                        <input type="number" id="door_count_i'+g+'" class="form-control"/>\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                            </div>';
        document.getElementById("rmWindowOpenings_btn2").style.display = "block";
        $('#WindowOpenings_div_add2').append(html);
    });
    document.querySelector('#rmWindowOpenings_btn2').addEventListener('click',function () {
        const DelOrAddWindowOpenings = "#DelOrAddDoorOpenings_i" + g.toString();
        g--;
        $(DelOrAddWindowOpenings).remove();
        if(g===0)
        {
            document.getElementById("rmWindowOpenings_btn2").style.display = "none";
        }
    });


</script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
</body>
</html>